
<h3>投票受付中のレース一覧</h3>
<div *ngIf="isVotableRace; then votableBlock else noVote"></div>
    <ng-template #votableBlock>
        <table>
            <tbody>
                <tr *ngFor="let race of isVotableRace" (click)="moveVote(race,game)">
                        <td>{{race.date}}</td>
                        <td>{{race.name}}</td>
                        <td>{{race.grade}}</td>
                        <td><button>投票する</button></td>
                </tr>
            </tbody>
        </table>
    </ng-template>
    <ng-template #noVote>
        投票対象のレースがありません        
   </ng-template>   
<h3>過去のレース結果</h3>
<h3>サイトポリシー</h3>
