.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .serch-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .left {
            display: flex;
            background-color: #eaeade;
            width: 100px;
            margin: 5px 5px;
            padding: 5px;
            border: 0px;
            align-items: center;
            justify-content: center;
            height: 30px;
        }

        .text-box {
            display: flex;
            margin: 0px 5px 0px 0px;
            width: calc(100% - 100px - 10px - 10px - 5px);
            height: 30px;
            padding: 5px 0px;
            background-color: #f7f7f7;
            // background-color: #0056b3;
            .text {
                margin: 0px 5px;
                width: calc(100%);
            }
        }
    }
}

button {
    display: flex;
    width: 60px;
    background-color: red;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: red;
    }
    margin: 0px 10px 5px 10px;
    justify-content: center;
}

.game {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.1);
    margin: 7px;
    height: 50px;
    font-size: large;
}

.icon {
    color: #188542;
    margin: 0px 5px;
}

form {
    background-color: #dfdfd3;
}

$green: #268300;
$grade: #00695c;
$cellline: #ddd;
$header: #37474f;
$tablehover: #f0f0f0;
$containerline: #1fac37;
$slash: #797979cd;
$canclickblue: #0066aa;
$icon: #188542;
$date: #1b521f;
