// @import '../styles.scss';
.zerosense {
  // background-color: rgb(37, 138, 37); // 深緑の背景
  background-color: #268300;
  color: white; // 文字色を白に設定
  display: block; // ブロック要素として設定し、下のpaddingやmarginを適用するため
  padding: 5px 0; // 上下に10pxのpaddingを追加して帯状にする
  text-align: left; // タイトルを左寄せ
  width: 100%;
}
.superbig {
  font-size: 40px;
  color: white;
}

.container {
  color: white;
  display: flex;
  border-color: #004d40;
  background-color: #004d40;
  justify-content: center;

  .gamespan {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .date {
      display: flex;
      justify-content: center;
      font-size: medium;
      padding-top: 2px;
      background-color: #004d40;
    }
    .gamename {
      display: flex;
      justify-content: center;
      font-size: xx-large;
      padding: 5px 10px;
    }
  }
}
