// .flex-box {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }

$green: #268300;
$grade: #00695c;
$cellline: #ddd;
$header: #37474f;
$tablehover: #f0f0f0;
$containerline: #1fac37;
$slash: #797979cd;
$canclickblue: #0066aa;
$icon: #188542;
$date: #1b521f;

.item {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.1);
    margin: 7px;
    height: 50px;
    &.copyid {
        width: 50px;
        padding: 0;
        margin: 0;
        text-align: center;
        font-weight: 700;
        &:hover {
            box-shadow: 0px 0px rgba(0, 0, 0, 0.1);
        }
    }

    &.gamename {
        display: flex;
        align-items: center;

        width: calc(100% - 50px);
        .icon {
            color: #188542;
            margin-left: 5px;
        }

        .name {
            color: #0066aa;
            font-weight: 700;
            display: flex;
            width: 200px;
            font-size: 3vw; // ビューポートの幅に応じて文字サイズを調整
            white-space: nowrap;
            margin-left: 5px;
            height: 50px;
            align-items: center;
            font-size: medium;
        }
    }
}

$canclickblue: #0066aa;

.game {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    margin: 7px;
    height: 50px;
    .here {
        color: $canclickblue;
        font-weight: 700;
    }
}

.noGame.flex-box {
    box-shadow: 0px 0px rgba(248, 244, 244, 0.1);
    justify-content: center;
    color: black;
}

.flex-box {
    &.joingame {
        .icon {
            display: flex;
            margin: 5px;
        }
        .text {
            color: $canclickblue;
            font-weight: 700;
        }
    }
    &.newgame {
        .icon {
            display: flex;
            margin: 5px;
        }
        .text {
            color: red;
            font-weight: 700;
        }
    }
}
