.first-column {
  width: 120px;
  min-width: 120px;
}
.gameresult-place {
  // 3番目以降の列
  width: 70px;
  min-width: 70px;
}

.detail {
  // ヘッダーの背景色を設定
  text-align: left;
  font-weight: bold; // ヘッダーのテキストを太字にする
  padding: 2px;
  background-color: #e9e9e9;
  height: 32px;

  .show {
    background-color: white;
    border-radius: 10px;
    height: 20px;
    padding: 5px;
    margin: 1px 0px 3px 5px;
    &.yes {
      box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
      .icon {
        color: #188542;
      }
    }
    &.no {
      .icon {
        color: #0066aa;
      }
    }
  }
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exit {
  .icon {
    color: red;
  }
  .here {
    color: red;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
// @import '~@angular/material/prebuilt-themes/purple-green.css';

/* styles.scss or component.scss */

$green: #268300;
$grade: #00695c;
$cellline: #ddd;
$header: #37474f;
$tablehover: #f0f0f0;
$containerline: #1fac37;
$slash: #797979cd;
$canclickblue: #0066aa;
$icon: #188542;
$date: #1b521f;

.grade {
  background-color: $grade;
  color: white;
  padding: 5px 5px 4px 5px;
  width: 50px;
  margin: 10px;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: -2px;
  text-align: center;
}

.table {
  width: calc(100% - 20px); // コンテナの幅を設定
  overflow-x: auto !important;
  margin: 0 10px 0 10px;
  overflow-x: hidden;

  table {
    padding: 10px;
    border-collapse: collapse; // セルのボーダーを一つにまとめる
    background-color: white;
    margin-right: 140px; //スクールしたときに左端まで行き切るように二行分のマージンを取る
    .detail {
      display: flex;
      flex-direction: row;
      .show {
        display: flex;
        flex-direction: row;
        align-items: center;
        .text {
          width: 90px;
        }
      }
    }

    th,
    td {
      border: 1px solid #ddd; // セルのボーダーを設定
      padding: 0px 0px; // セルの内側の余白を設定
      text-align: center; // テキストを中央に配置

      &.place {
        // 順位の列
        width: 50px;
        min-width: 50px;
      }

      &.horse {
        // 出走馬の列
        width: 200px;
        min-width: 200px;
      }

      .participant {
        // 3番目以降の列
        width: 100px;
        min-width: 100px;
      }
    }

    thead {
      background-color: $header; // ヘッダーの背景色を設定

      th {
        font-weight: bold; // ヘッダーのテキストを太字にする
        color: white;
        padding: 5px;
      }
    }

    tbody tr:hover {
      background-color: $tablehover; // ホバー時の背景色を設定
    }

    &.payout {
      th,
      td {
        &.ticket {
          // 1番目の列
          width: 50px;
          min-width: 50px;
        }

        &.price {
          // 2番目の列
          width: 200px;
          min-width: 200px;
        }
      }
    }
  }
}

.vote-switch {
  margin-top: 0;
  margin-bottom: 0;
  border-left: 1px dashed $slash;
  align-self: stretch;
  display: flex;
  width: 100px;
  margin-left: auto;

  .icon {
    display: flex !important;
    align-items: center;
    color: $icon;
  }

  .deadline {
    color: gray;
    align-items: center;
    display: flex;
    margin: 0 5px 0 5px;
    font-size: small;
    font-weight: 700;
  }

  .isvoted {
    color: $canclickblue;
    align-items: center;
    display: flex;
    margin: 0 5px 0 5px;
    font-size: small;
    font-weight: 700;
  }
  .novoted {
    color: red;
    align-items: center;
    display: flex;
    margin: 0 5px 0 5px;
    font-size: small;
    font-weight: 700;
  }
}

.racelist.container {
  .racename {
    color: $canclickblue;
    font-weight: 700;
    display: inline-block;
    width: 200px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }
}

.pastrace {
  .icon {
    color: $icon;
    display: inline-block;
    width: 15px;
  }

  .here {
    color: $canclickblue;
    font-weight: 900;
    display: inline-block;
    width: 200px;
  }
}

.date {
  font-size: large;
  background-color: $date;
  color: white;
  width: 100%;
}

th.first-column {
  position: sticky;
  left: 0;
  // background-color: white; /* 背景色を設定して、他のセルがスクロールしても見えないようにする */
  z-index: 1; /* z-indexを設定して、他のセルよりも上に表示する */
  background-color: white;
  &.place {
    background-color: #37474f;
  }
}
