.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: #333333;
    color: white;
    height: 30px;
}

.navbar-text {
    display: flex;
    align-items: center; /* 縦方向の中央揃えにする */
    gap: 10px; /* 要素同士の間隔をとる */
    justify-content: flex-start;
}

.item {
    display: flex;
    margin: 2px;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    margin: 2px;
    color: white;
}
