<div class="racelist container">
  <div class="title">過去のレース結果</div>

  <div
    *ngFor="let race of AllRaces"
    (click)="race.vote_num != 0 && moveResult(race)"
    class="race-date"
  >
    <div *ngIf="race.isdisplay; then displayBlock; else nodisplay"></div>
    <ng-template #displayBlock>
      <div class="date">{{ race.date }}</div> </ng-template
    ><ng-template #nodisplay></ng-template>
    <div class="flex-box vote{{ race.vote_num }}">
      <div class="race-item">
        <span class="icon"> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span
        ><span class="racename vote{{ race.vote_num }}">{{ race.name }}</span>
      </div>
      <span class="grade _{{ race.grade }}">{{ race.grade }}</span
      ><span class="votetime">{{ race.vote_num }}votes</span>
    </div>
  </div>
</div>
<div class="goback container">
  <div class="flex-box" (click)="goBack()">
    <span class="icon"> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> </span
    ><span class="text">戻る</span>
  </div>
</div>
