<h1>レース結果</h1>
<div class="date-input-container">
    <input class="date-input" [matDatepicker]="picker" [matDatepickerFilter]="dateFilter" (dateChange)="check()" [(ngModel)]="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [dateClass]="dateClass"></mat-datepicker>
    <div class="button" (click)="picker.open()">開催日</div>
  </div>
  
  
<ul>
    <li *ngFor="let race of raceNamesDisplay">
        <a routerLink="/racedetail/{{ race.date }}（{{ race.dayOfTheWeek}}）{{ race.name }}&nbsp;{{ race.num}}">{{ race.date }}（{{ race.dayOfTheWeek}}）{{ race.name }}&nbsp;{{ race.num}} </a>
    </li>
</ul>

